.background {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f4f3f3;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-style {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 0;

  .line {
    display: flex;
    flex-basis: 25%;
    z-index: 0;
  }

  .column {
    display: flex;
    flex-basis: 25%;
    z-index: 0;
  }

  .background-color {
    background-color: $primary-color;
  }

  .line-0-column-0 {
    animation: slide-0-0 20s linear infinite;
    animation-delay: 5s;
  }
  .line-0-column-1 {
    animation: slide-0-1 20s linear infinite;
    animation-delay: 5s;
  }
  .line-0-column-2 {
    animation: slide-0-2 20s linear infinite;
    animation-delay: 5s;
  }
  .line-0-column-3 {
    animation: slide-0-3 20s linear infinite;
    animation-delay: 5s;
  }
  .line-1-column-0 {
    animation: slide-1-0 20s linear infinite;
    animation-delay: 5s;
  }
  .line-1-column-3 {
    animation: slide-1-3 20s linear infinite;
    animation-delay: 5s;
  }
  .line-2-column-0 {
    animation: slide-2-0 20s linear infinite;
    animation-delay: 5s;
  }
  .line-2-column-3 {
    animation: slide-2-3 20s linear infinite;
    animation-delay: 5s;
  }
  .line-3-column-0 {
    animation: slide-3-0 20s linear infinite;
    animation-delay: 5s;
  }
  .line-3-column-1 {
    animation: slide-3-1 20s linear infinite;
    animation-delay: 5s;
  }
  .line-3-column-2 {
    animation: slide-3-2 20s linear infinite;
    animation-delay: 5s;
  }
  .line-3-column-3 {
    animation: slide-3-3 20s linear infinite;
    animation-delay: 5s;
  }
}

.background-content {
  display: flex;
  width: 85%;
  height: 85%;
  z-index: 1;
  box-shadow: 4px 4px 10px 4px rgba($color: #000000, $alpha: 0.2);
  background-color: #fff;
}

@keyframes slide-0-0 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(300%, 0%);
  }

  80% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-0-1 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, 300%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-0-2 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(-300%, 0%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-0-3 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, 300%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slide-1-0 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, 100%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-1-3 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(-300%, 0%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slide-2-0 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, -100%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-2-3 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, 100%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes slide-3-0 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, -300%);
  }

  80% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-3-1 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(-100%, 0%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-3-2 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(0%, -300%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-3-3 {
  0% {
    transform: translate(0%, 0%);
  }

  40% {
    transform: translate(-300%, 0%);
  }

  80% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
