.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .carousel-header {
    display: flex;
    width: 100%;
    height: 10%;
    vertical-align: top;
  }

  .carousel-body {
    display: flex;
    width: 100%;
    height: 70%;
    vertical-align: middle;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .secondary-children {
      transform: scale(0.6);
    }
  }

  .carousel-footer {
    display: flex;
    width: 100%;
    height: 20%;
    vertical-align: bottom;
  }
}
