.navbar-home {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10vh 0;

  .nav-profile {
    display: none;
  }

  .navitem {
    display: flex;
    width: 20vw;
    justify-content: flex-start;
    padding: 10px 5px;
    color: #747070;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      animation-name: navbar-animation;
      animation-duration: 0.5s;
      width: 22vw;
      border-bottom: 2px solid $primary-color;
      border-left: 2px solid $primary-color;
    }
  }

  .navitem-selected {
    display: flex;
    width: 22vw;
    color: $primary-color;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes navbar-animation {
  from {
    width: 20vw;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }

  to {
    width: 22vw;
    border-bottom: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
  }
}

.nav-scroll {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  background-color: $primary-color;
  top: 0;
  width: 100vw;
  z-index: 4;
  margin: 0;
  padding: 10px;
  gap: 10px;
  min-height: 7%;
  height: fit-content;
  box-shadow: 4px 4px 10px 4px rgba($color: #000000, $alpha: 0.2);
  animation-name: navbar-down;
  animation-duration: 1s;
  transition-timing-function: ease-in-out;

  .nav-profile {
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10px;

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 2rem;

      h1 {
        color: white;
        font-size: 14px;
        margin: 0;
      }

      h2 {
        color: white;
        font-size: 10px;
        margin: 0;
      }
    }
  }

  .navitem,
  .navitem-selected {
    display: flex;
    flex-basis: calc(80% / 7);
    box-sizing: border-box;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s ease-in-out;
    text-align: center;

    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }

  .navitem-selected {
    background-color: white;
    color: $primary-color;
  }
}

@keyframes navbar-down {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}
